# Hands on Python  A

## What is Python?

- Python is a popular programming language. It was created by Guido van Rossum, and released in 1991.

- It is used for:
     - Web Development (Server-Side),
     - Software Development,
     - Mathematics,
     - System Scripting.

## What can Python do?

- Python can be used on a server to create web applications.
- Python can be used alongside software to create workflows.
- Python can connect to database systems. It can also read and modify files.
- Python can be used to handle big data and perform complex mathematics.
- Python can be used for rapid prototyping, or for production-ready software development.

## Why Python?

- Object Oriented
- Open Source
- Power Library
- Portabiltiy
- Platform Independent
- Multipurpose
- And many others....

## Good to Know

- The most recent major version of Python is Python 3, which we shall be using in this tutorial. However, Python 2, although not being updated with anything other than security updates, is still quite popular.
- In this tutorial Python will be written in a text editor. It is possible to write Python in an Integrated Development Environment, such as Thonny, Pycharm, Netbeans or Eclipse which are particularly useful when managing larger collections of Python files.

## Python Syntax  vs Other Programming Languages Syntax

- Python was designed for readability, and has some similarities to the English language with influence from mathematics.
- Python uses new lines to complete a command, as opposed to other programming languages which often use semicolons or parentheses.
- Python relies on indentation, using whitespace, to define scope; such as the scope of loops, functions and classes. Other programming languages often use curly-brackets for this purpose.

**Example**

In [1]:
print("Hello, World!")

Hello, World!

## Python Syntax

#### Syntax

- Python syntax refers to the rules and guidelines that dictate how Python code must be written in order to be valid and executable. In Python, code is executed sequentially, one line at a time, from top to bottom.
- They are case sensetive.

## Python Comments

- Python Comments are lines of text that are ignored by the interpreter when the code is executed.

- Python comments start with the # symbol and continue until the end of the line.

- They are used to add notes, explanations or reminders to the code, making it easier for reading and understanding.

### Creating a Comment

- Comments starts with a #, and Python will ignore them:

**Example**

In [2]:
# This is a "Comment".
print("Hello, Abhay!")

Hello, Abhay!

In [3]:
print("Welcome to the Python Session.") # This is a Comment.

Welcome to the Python Session.

### Multi Line Comments

- Python does not really have a syntax for multi line comments.
- To add a multiline comment you could insert a  "#" for each line or triple quotes at start and end of the comment.

**Example**

In [4]:
# This is a comment
# written in
# more than just one line.
print("Hello, Abhishek!")

Hello, Abhishek!

In [5]:
"""
This is a comment
written in 
more than just one line.
"""
print("Welcome to the Python Session.")

Welcome to the Python Session.

### **  "end"  and "sep" Parameter

#### "end"

The end parameter allows you to specify a string that will be printed after the output of the print() function. However, the end parameter is by default set to a new line character. which means that each call to print() will print its output on a new line. However, you can customize the end parameter to specify a different character or string that you want to print at the end of the output.

**Without Using "end" Parameter**

**Example**

In [6]:
print("Welcome to")
print("Hands on Python.")

Welcome to
Hands on Python.

**Using "end" Parameter**

**Example**

In [7]:
print("Welcome to", end = " ")
print("Hands on Python.")

Welcome to Hands on Python.

**Example**

In [8]:
print("Hello Everyone", end = ", ")
print("Welcome to", end = " ")
print("Hands on Python.")

Hello Everyone, Welcome to Hands on Python.

#### "sep"

The sep parameter allows you to specify a string that will be used to separate the items being printed by the print() function. By default, the sep parameter is set to a single space character. which means that the items being printed will be separated by a single space. However, you can also customize the sep parameter.

**Using "sep" Parameter**

**Example**

In [9]:
print("Blue", "Black", "White", "Red", end = " ")
print("are my favourate colours.")

Blue Black White Red are my favourate colours.

**Using "sep" Parameter**

**Example**

In [10]:
print("Blue", "Black", "White", "Red", sep = ", ", end = " ")
print("are my favourate colours.")

Blue, Black, White, Red are my favourate colours.

## Python Keywords

Every programming language has special reserved words, or keywords, that have specific meanings and restrictions around how they should be used. As of Python 3.8, there are 35 keywords in Python. Useing `help("keywords")` we can get the list of all keywords.

In [11]:
help("keywords")

Here is a list of the Python keywords.  Enter any keyword to get more help.

False               class               from                or
None                continue            global              pass
True                def                 if                  raise
and                 del                 import              return
as                  elif                in                  try
assert              else                is                  while
async               except              lambda              with
await               finally             nonlocal            yield
break               for                 not

## Python Variables

- Variables are containers for storing data values.

### Creating Variables

- Python has no command for declaring a variable.
- A variable is created the moment you first assign a value to it.

**Example**

In [12]:
x = 5
y = "John"
print(x)
print(y)

5
John

### Casting Variables

- If you want to specify the data type of a variable, this can be done with casting.

In [13]:
x = str(3)    # x will be '3'
y = int(3)    # y will be 3
z = float(3)  # z will be 3.0

### Naming Variables

- A variable can have a short name (like x and y) or a more descriptive name (age, carname, total_volume). Rules for Python variables:
    - A variable name must start with a letter or the underscore character
    - A variable name cannot start with a number
    - A variable name can only contain alpha-numeric characters and underscores (A-z, 0-9, and _ )
    - Variable names are case-sensitive (age, Age and AGE are three different variables)

**Example**

- Legal Variable Names:

In [14]:
myvariable = "John"
my_varriable = "John"
_my_variable = "John"
myVariable = "John"
MYVARiable = "John"
myvariable8 = "John"
my_myvariable_1 = "John"

**Multi Words Variable Names**

- Variable names with more than one word can be difficult to read.
- There are several techniques you can use to make them more readable:

**A.Camel Case**

- Each word, except the first, starts with a capital letter:

In [15]:
myVariableName = "John"

**B.Pascal Case**

- Each word starts with a capital letter:

In [16]:
MyVariableName = "John"

**C.Snake Case**

- Each word is separated by an underscore character:

In [17]:
my_variable_name = "John"

### Assigning Different Values to Different Variable

- Python allows to assign values to multiple variables in one line:

In [18]:
x, y, z = "Orange", "Banana", "Cherry"
print(x)
print(y)
print(z)
print(x,y,z)

Orange
Banana
Cherry
Orange Banana Cherry

**Note:** Make sure the number of variables matches the number of values, or else you will get an error.

### Assigning Single Value to Different Variable

- Pyhton aslo allows to assign the same value to multiple variables in one line:

In [19]:
x = y = z = "Orange"
print(x)
print(y)
print(z)

Orange
Orange
Orange

### Unpack a Collection 

- If you have a collection of values, Python allows you to extract the values into variables. This is called unpacking.

In [20]:
fruits = "Apple", "Banana", "Cherry"
x, y, z = fruits
print(x)
print(y)
print(z)

Apple
Banana
Cherry

### Different ways of "Printing Output" of Variables.

In [21]:
a = "Abhishek"
b = "ERP Software Developer"
x = 28
y = 1

In [22]:
print(a, "is", x, "years old and working as",b, "from", y, "year.")

Abhishek is 28 years old and working as ERP Software Developer from 1 year.

In [23]:
print(f"{a} is {x} years old and working as {b} from {y} year.")

Abhishek is 28 years old and working as ERP Software Developer from 1 year.

In [24]:
print("{} is {} years old and working as {} from {} year.".format(a,x,b,y))

Abhishek is 28 years old and working as ERP Software Developer from 1 year.

### Global Variables

- Variables that are created outside of a function (as in all of the examples above) are known as global variables.
- Global variables can be used by everyone, both inside of functions and outside.
- If you create a variable with the same name inside a function, this variable will be local, and can only be used inside the function. The global variable with the same name will remain as it was, global and with the original value.

**Example**

- Create a variable outside of a function, and use it inside the function.

In [25]:
x = "Awesome."

def myfunc():
    print("Python is " + x)

myfunc()

Python is Awesome.

**Example**

- Create a variable inside a function, with the same name as the global variable.

In [26]:
x = "Awesome."

def myfunc():
    x = "Fantastic."
    print("Python is " + x)

myfunc()

print("Python is " + x)

Python is Fantastic.
Python is Awesome.

### The global Keyword

- Normally, when you create a variable inside a function, that variable is local, and can only be used inside that function.
- To create a global variable inside a function, you can use the global keyword.
- Also, use the global keyword if you want to change a global variable inside a function.

**Example**

- If you use the global keyword, the variable belongs to the global scope.

In [27]:
def myfunc():
    global x
    x = "Fantastic."

myfunc()

print("Python is " + x)

Python is Fantastic.

**Example**

- To change the value of a global variable inside a function, refer to the variable by using the global keyword.

In [28]:
x = "Awesome."

def myfunc():
    global x
    x = "Fantastic."

myfunc()

print("Python is " + x)

Python is Fantastic.

## Python Data Types

### Built-in Data Types

- In programming, data type is an important concept.
- Variables can store data of different types, and different types can do different things.
- Python has the following data types built-in by default, in these categories:

- Text Type:- 
     - str
- Numeric Types:-
     - int, float, complex
- Boolean Type:- 
     - bool
- Sequence Types:- 
     - list, tuple, range
- Mapping Type:- 
     - dictionary
- Set Types:- 
     - set, frozenset
     
**A set is a mutable object while frozenset provides an immutable implementation.**     
     
- Binary Types:- 
     - bytes, bytearray, memoryview

### Getting the Data Type

- You can get the data type of any object by using the type() function.

**Example**

- Print the data type of the given variables.

In [29]:
w = "John"
x = 5
y = 3.8
z = True
print(type(w))
print(type(x))
print(type(y))
print(type(z))

<class 'str'>
<class 'int'>
<class 'float'>
<class 'bool'>

### Setting the Data Type

- In Python, the data type is set when you assign a value to a variable.

**Example**

In [30]:
x = "Hello World"
type(x)

str

In [31]:
x = 20
type(x)

int

In [32]:
x = 20.5
type(x)

float

In [33]:
x = 1j
type(x)

complex

In [34]:
x = ["Apple", "Banana", "Cherry"]
type(x)

list

In [35]:
x = ("Apple", "Banana", "Cherry")
type(x)

tuple

In [36]:
x = range(6)
type(x)

range

In [37]:
x = {"Name" : "John", "Age" : 36}
type(x)

dict

In [38]:
x = frozenset({"Apple", "Banana", "Cherry"})
type(x)

frozenset

In [39]:
x = True

In [40]:
x = b"Hello"
type(x)

bytes

In [41]:
x = bytearray(5)
type(x)

bytearray

In [42]:
x = memoryview(bytes(5))
type(x)

memoryview

## Python input( ) Function

- It produces a text field to accept input from the user.

### Capturing the user input in a variable.

**Example**

In [43]:
fav_avn = input("Which one is your favourite avanger?  ")

Which one is your favourite avanger?

In [44]:
print(fav_avn)

### Data Type of input() Function

**Example**

In [45]:
age = input("Hey buddy how old you are ? ")
print(type(age))

Hey buddy how old you are ? 29
<class 'str'>

### Type Casting Data Type of input() Function

**Example**

In [46]:
age = int(input("Hey buddy how old you are ? "))
print(type(age))

Hey buddy how old you are ? 29
<class 'int'>

## Python Strings

### Strings

- Strings in python are surrounded by either single quotation marks, or double quotation marks.
- 'Hello' is the same as "Hello".
- We can display a string literal with the print() function:

**Example**

In [47]:
print("Hello")
print('Hello')

Hello
Hello

### Assign String to a Variable

- Assigning a string to a variable is done with the variable name followed by an equal sign and the string:

**Example**

In [48]:
a = "Hello Abhishek"
print(a)

Hello Abhishek

### Multiline Strings

- You can assign a multiline string to a variable by using three double or three single quotes.

**Example**

In [49]:
a = '''Data science is an interdisciplinary field that uses
scientific methods, processes, algorithms and systems to
extract knowledge and insights from noisy, structured and 
unstructured data, and apply knowledge and actionable insight
from data across a broad range of application domains.'''

print(a)

Data science is an interdisciplinary field that uses
scientific methods, processes, algorithms and systems to
extract knowledge and insights from noisy, structured and
unstructured data, and apply knowledge and actionable insight
from data across a broad range of application domains.

**Note:** In the output, the line breaks are inserted at the same position as in the code.

### Strings are Arrays

- Like many other popular programming languages, strings in Python are arrays of bytes representing unicode characters.
- However, Python does not have a character data type, a single character is simply a string with a length of 1.
- Square brackets can be used to access elements of the string.

**Example**

- Get the character at position 27th (remember that the first character has the position 0):

In [50]:
a = "Data scientists examine which questions need answering and where to find the related data."

print(a[27])

c

### Looping Through a String

- Since strings are arrays, we can loop through the characters in a string, with a for loop.

**Example**

- Loop through the letters in the word "Hippopotamus".

In [51]:
a = "Hippopotamus"

for x in a:
    print(x)

H
i
p
p
o
p
o
t
a
m
u
s

### String Length

- To get the length of a string, use the len() function.

**Example**

- The len() function returns the length of a string.

In [52]:
a = "Say Hello, to Python."
print(len(a))

21

### Check String

- To check if a certain phrase or character is present in a string, we can use the keyword in.

**Example**

- Check if "busy" and "free" are present in the following text.

In [53]:
Quotes = "Life is what happens when you’re busy making other plans."
print("busy" in Quotes)

True

In [54]:
Quotes = "“Life is what happens when you’re busy making other plans.” "
print("free" in Quotes)

False

- Use if statement.

**Example**

- Print only if "bussy" is present.

In [55]:
Quotes = "Life is what happens when you’re busy making other plans."

if "busy" in Quotes:
    print("Yes, 'busy' is present.")

Yes, 'busy' is present.

### Slicing Strings

#### Slicing

- You can return a range of characters by using the slice syntax.
- Specify the start index and the end index, separated by a colon, to return a part of the string.

**Example**

- Get the characters from position 3 to position 9 (not included).

In [56]:
a = "Hello, Abhishek!"

print(a[3:9])

lo, Ab

#### Slice From the Start

- By leaving out the start index, the range will start at the first character.

**Example**

- Get the characters from the start to position 5 (not included).

In [57]:
a = "Hello, Abhishek!"

print(a[:5])

Hello

#### Slice To the End

- By leaving out the end index, the range will go to the end.

**Example**

- Get the characters from position 7, and all the way to the end.

In [58]:
a = "Hello, Abhishek!"
print(a[7:])

Abhishek!

#### Negative Indexing

- Use negative indexes to start the slice from the end of the string.

**Example**

- Get the characters:
     - from: "o" in "World!" (position -5)
     - to, but not included: "d" in "World!" (position -2):

In [59]:
a = "Hello, World!"
print(a[-5:-2])

orl

### Modify Strings

- Python has a set of built-in methods that we can use on strings.

#### Upper Case

**Example**

- The upper() method returns the string in upper case.

In [60]:
a = "Hello, Abhishek!"
print(a.upper())

HELLO, ABHISHEK!

#### Lower Case

**Example**

- The lower() method returns the string in lower case.

In [61]:
a = "Hello, Abhishek!"
print(a.lower())

hello, abhishek!

#### Remove Whitespace

- Whitespace is the space before and/or after the actual text, and very often you want to remove this space.

**Example**

- The strip() method removes any whitespace from the beginning or the end.

In [62]:
a = " Hello, Abhishek! "
print(a)
print(a.strip())

 Hello, Abhishek!
Hello, Abhishek!

#### Replace String

**Example**

- The replace() method replaces a string with another string.

In [63]:
a = "Hello, Abhishek!"
print(a.replace("H", "J"))

Jello, Abhishek!

In [64]:
a = "Hello, Abhishek!"
print(a.replace("H", "J").replace(",",""))

Jello Abhishek!

#### Split String

- The split() method returns a list where the text between the specified separator becomes the list items.

**Example**

- The split() method splits the string into substrings if it finds instances of the separator.

In [65]:
a = "Abhishek,28"
print(a.split(","))

['Abhishek', '28']

#### String Concatenation

- To concatenate, or combine, two strings you can use the + operator.

**Example**

- Merge variable a with variable b into variable c.

In [66]:
a = "Hello"
b = "Abhishek!"
c = a + b
print(c)

HelloAbhishek!

- To add a space between them, add a " ":

In [67]:
a = "Hello"
b = "Abhishek!"
c = a + " " + b
print(c)

Hello Abhishek!

#### String Format

- The format() method takes the passed arguments, formats them, and places them in the string where the placeholders {} are.

**Example**

In [68]:
Age = 28
a = "My name is Abhishek, and I am {}"
print(a.format(Age))

My name is Abhishek, and I am 28

- The format() method takes unlimited number of arguments, and are placed into the respective placeholders.

#### Example

In [69]:
quantity = 3
item_code = 567
price = 49.95
my_order = "I want {} pieces of item {} for {} dollars."
print(my_order.format(quantity, item_code, price))

I want 3 pieces of item 567 for 49.95 dollars.

- You can use index numbers {} to be sure the arguments are placed in the correct placeholders.

**Example**

In [70]:
quantity = 3
item_code = 567
price = 49.95
my_order = "I want to pay {2} dollars for {0} pieces of item {1}."
print(my_order.format(quantity, item_code, price))

I want to pay 49.95 dollars for 3 pieces of item 567.

### Escape Character

- To insert characters that are illegal in a string, use an escape character.

**Example**

- The escape character allows you to use double quotes when you normally would not be allowed.

In [71]:
txt = "We are the so-called \"Vikings\" from the north."
print(txt)

We are the so-called "Vikings" from the north.

### Important String Methods

- Python has a set of built-in methods that you can use on strings.

count()    Returns the number of times a specified value occurs in a string.

endswith()    Returns true if the string ends with the specified value.

startswith()    Returns true if the string starts with the specified value

find()    Searches the string for a specified value and returns the position of where it was found.

rfind()    Searches the string for a specified value and returns the last position of where it was found.

index()    Searches the string for a specified value and returns the position of where it was found.

isalnum()    Returns True if all characters in the string are alphanumeric.

isalpha()    Returns True if all characters in the string are in the alphabet.

isdigit()    Returns True if all characters in the string are digits.

islower()    Returns True if all characters in the string are lower case.

isupper()    Returns True if all characters in the string are upper case

isnumeric()    Returns True if all characters in the string are numeric.

join()    Joins the elements of an iterable to the end of the string.

lower()    Converts a string into lower case.

upper()    Converts a string into upper case.

title()    Converts the first character of each word to upper case.

capitalize()    Converts the first character to upper case.

swapcase()    Swaps cases, lower case becomes upper case and vice versa.

strip()    Returns a trimmed version of the string.

lstrip()    Returns a left trim version of the string.

rstrip()    Returns a right trim version of the string

replace()    Returns a string where a specified value is replaced with a specified value.

split()    Splits the string at the specified separator, and returns a list.

## Python Numbers

- There are three numeric types in Python:
    - int
    - float
    - complex

#### A. Int

- Int, or integer, is a whole number, positive or negative, without decimals, of unlimited length.

**Example**

In [72]:
x = 1
y = 35656222554887711
z = -3255522

print(type(x))
print(type(y))
print(type(z))

<class 'int'>
<class 'int'>
<class 'int'>

#### B. Float

- Float, or "floating point number" is a number, positive or negative, containing one or more decimals.

**Example**

In [73]:
x = 1.10
y = 1.0
z = -35.59

print(type(x))
print(type(y))
print(type(z))

<class 'float'>
<class 'float'>
<class 'float'>

- Float can also be scientific numbers with an "e" to indicate the power of 10.

**Example**

In [74]:
x = 35e3
y = 12E4
z = -87.7e100

print(type(x))
print(type(y))
print(type(z))

<class 'float'>
<class 'float'>
<class 'float'>

#### C. Complex

- Complex numbers are written with a "j" as the imaginary part.

In [75]:
x = 3+5j
y = 5j
z = -5j

print(type(x))
print(type(y))
print(type(z))

<class 'complex'>
<class 'complex'>
<class 'complex'>

#### Type Conversion

- You can convert from one type to another with the int(), float(), and complex() methods.

**Example**

In [76]:
x = 1    # int
y = 2.8  # float
z = 1j   # complex

# Convert from int to float.
a = float(x)

# Convert from float to int.
b = int(y)

# Convert from int to complex.
c = complex(x)

print(a)
print(b)
print(c)

print(type(a))
print(type(b))
print(type(c))

1.0
2
(1+0j)
<class 'float'>
<class 'int'>
<class 'complex'>

**Note:** You cannot convert complex numbers into another number type.

#### Random Number

- Python does not have a random() function to make a random number, but Python has a built-in module called random that can be used to make random numbers:

**Example**

- Import the random module, and display a random number between 1 and 9.

In [77]:
import random

print(random.randrange(1, 10))

3

## Python Booleans

- Booleans represent one of two values: True or False.

### Boolean Values

- In programming you often need to know if an expression is True or False.

- You can evaluate any expression in Python, and get one of two answers, True or False.

- When you compare two values, the expression is evaluated and Python returns the Boolean answer:

**Example**

In [78]:
print(10 > 9)
print(10 == 9)
print(10 < 9)

True
False
False

**Example**

- Print a message based on whether the condition is True or False.

In [79]:
a = 378
b = 349

if b > a:
    print("B is greater than A")
else:
    print("A is greater than B")

A is greater than B

## Python Operators

- Operators are used to perform operations on variables and values.

### Python divides the operators in the following groups:

- Arithmetic Operators
- Logical Operators
- Comparison Operators
- Assignment Operators
- Identity Operators
- Membership Operators
- Bitwise Operators

### Arithmetic Operators

**A. Addition** ( + )

In [80]:
x = 14
y = 9
x + y

23

**B. Substraction** ( - )

In [81]:
x = 14
y = 9
x - y

5

**C. Multiplication** ( * )

In [82]:
x = 14
y = 9
x * y

126

**D. Division** ( / )

In [83]:
x = 14
y = 9
x / y

1.5555555555555556

**E. Modulus** ( % )

In [84]:
x = 14
y = 9
x % y

5

**F. Exponentiation** ( ** )

In [85]:
x = 14
y = 9
x ** y

20661046784

**G. Floor Division** ( // )

In [86]:
x = 14
y = 9
x//y

1

### Logical Operators

**A. and**

- Returns True if both statements are true.

**Example**

In [87]:
x = 5
x < 5 and  x < 10

False

**B. or**

- Returns True if one of the statements is true.

**Example**

In [88]:
x = 3
x < 5 or x < 4

True

**C. not**

- Reverse the result, returns False if the result is true.

In [89]:
x = 8
not(x < 5 and x < 10)

True

### Comparison Operators

**A. Equal** ( == )

In [90]:
x = 7
y = 9
x == y

False

**B. Not Equal** ( != )

In [91]:
x = 7
y = 9
x != y

True

**C. Greater Than** ( > )

In [92]:
x = 7
y = 9
x > y

False

**D. Less Than** ( < )

In [93]:
x = 7
y = 9
x < y

True

**E. Greater Than or Equal** ( >= )

In [94]:
x = 7
y = 9
x >= y

False

**F. Less Than or Equal** ( <= )

In [95]:
x = 7
y = 9
x <= y

True

### Identity Operators

**A. is**

- Returns True if both variables are the same object.

In [96]:
x1 = 5
y1 = 5
x2 = 'Hello'
y2 = 'Hello'
x3 = [1,2,3]
y3 = [1,2,3]

In [97]:
print(x2 is y2)

True

In [98]:
print(x3 is y3)

False

**B. is not**

- Returns True if both variables are not the same object.

In [99]:
x1 = 5
y1 = 5
x2 = 'Hello'
y2 = 'Hello'
x3 = [1,2,3]
y3 = [1,2,3]

In [100]:
print(x3 is not y3)

True

In [101]:
id(x3)

4363318656

In [102]:
id(y3)

4362946112

In [103]:
print(x2 is not y1)

True

### Membership Operators

**A. in**

- Returns True if a sequence with the specified value is present in the object.

In [104]:
l = [20,"Hello",36.79,"Abhishek",True]

if "Hello" in l:
    
    print("Yes")

else:
    
    print("No")

Yes

**B. not in**

- Returns True if a sequence with the specified value is not present in the object.

In [105]:
l = [20,"Hello",36.79,"Abhishek",True]

if 36.79 not in l:
    
    print("Yes")

else:
    
    print("No")

No

### Bitwise Operators

**A. AND** ( & )

- Sets each bit to 1 if both bits are 1.

**B. OR** ( | )

- Sets each bit to 1 if one of two bits is 1

**C. XOR** ( ^ )

- Sets each bit to 1 if only one of two bits is 1.

**D. NOT** ( ~ )

- Inverts all the bits.

**E. Zero Fill Left Shift** ( << )

- Shift left by pushing zeros in from the right and let the leftmost bits fall off.

**F. Signed Right Shift** ( >> )

- Shift right by pushing copies of the leftmost bit in from the left, and let the rightmost bits fall off

### Assignment Operators

- x("O")= 3 i.e x = x "o" = 3

        Where O is different operators.

**Example**

In [106]:
x = 5
x%= 3
print(x)

2

- Different Operators that can be used are [ "+=", "-=", "*=", "/=", "%=","//=", "**=", "&=","|=", "^=", ">>=", "<<=" ]

## Python Built-In Mathematical Operations

#### A. abs( ) 

- Gives absolute value of any number.

**Example**

In [107]:
abs(98.69)

98.69

In [108]:
abs(-98.69)

98.69

#### B. divmod( )

- It gives quotent (% modular) and remainder (//).

**Example**

In [109]:
divmod(27,4)

(6, 3)

#### C. min( ), max( )

**Example**

In [110]:
min(76,85,24,85,74,24)

24

In [111]:
max(76,85,24,85,74,24)

85

#### D. round( )

**Example**

In [112]:
round(9.8)

10

In [113]:
round(7.4)

7

- Round about 2 decimal places.

In [114]:
round(97.54622,2)

97.55

#### E. sum( )

**Example**

In [115]:
sum([56,76,87,64,23])

306

#### F. range( )( start, stop, step)

- If no start or step is given, range(stop).

**Example**

In [116]:
list(range(4,19,3))

[4, 7, 10, 13, 16]

**Continued......**