# Hands on Python B

## Data Structure

> **Data Structure are a way of organizing and storing data so that they can be accessed and worked with efficiently.
Using Data Structure Data Scientist can focus on main problem solving insted of getting tangled in data access or data description reltated issues.**

Common Operations performed on Data Structure are:
 - Add an element
 - Delete an element
 - Traverse
 - Sort the list of eleents
 - Search for a data element

## Types of Data Structure 

- Primetive Types of Data Structures
   - Integer
   - Float
   - String
   - Boolean
   
- Non-Primitive Types of Data Structures
   - List
   - Tuple
   - Set
   - Dictionary

## Non-Primitive Types of Data Structure

- **List**  - A collection which is ordered and changeable. Allows duplicate members.
- **Tuple** - A collection which is ordered and unchangeable. Allows duplicate members.
- **Set** - A collection which is unordered, unchangeable*, and unindexed. No duplicate members.
- **Dictionary**  - A collection which is ordered** and changeable. No duplicate members

## Python Lists

- Lists are used to store multiple items in a single variable.
- Lists are created using square brackets.
- Lists are dynamic in size, as its size can be changed during run-time.

**Example**

- Create a List of your favourite fruits.

In [1]:
fav_fruit = ["Mango","Apple", "Banana", "Orange","Guava"]
print(fav_fruit)

['Mango', 'Apple', 'Banana', 'Orange', 'Guava']

### List Items

- List items are ordered, changeable, and allow duplicate values.
- List items are indexed, the first item has index [0], the second item has index [1] etc.

#### Ordered

- When we say that lists are ordered, it means that the items have a defined order, and that order will not change.
- If you add new items to a list, the new items will be placed at the end of the list.

#### Changeable

- The list is changeable, meaning that we can change, add, and remove items in a list after it has been created.

#### Duplicates Allowed

- Since lists are indexed, lists can have items with the same value.

### The list ( ) Constructor

- It is also possible to use the list() constructor when creating a new list.

**Example**

- Using the list() constructor to make a List.

In [2]:
fruits = list(("apple", "banana", "cherry", "mango", "graps"))
print(fruits)

['apple', 'banana', 'cherry', 'mango', 'graps']

### List Length

- To determine how many items a list has, use the len() function.

**Example**

- Print the number of items in the list.

In [3]:
fruits = ["apple", "banana", "cherry", "mango", "graps"]
print(len(fruits))

5

### List Data Type

- From Python's perspective, lists are defined as objects with the data type 'list'.

**Example**

- What is the data type of a list?

In [4]:
fruits = ["apple", "banana", "cherry", "mango", "graps"]
print(type(fruits))

<class 'list'>

### List Items - Data Types

- List items can be of any data type.

**Example**

- Lists of string, int and boolean values.

In [5]:
List_1 = ["apple", "banana", "cherry"]
List_2 = [1, 5, 7, 9, 3]
List_3 = [True, False, False]
print(List_1)
print(List_2)
print(List_3)

['apple', 'banana', 'cherry']
[1, 5, 7, 9, 3]
[True, False, False]

**Example**

- A list with strings, integers and boolean values.

In [6]:
List_A = ["abc", 34, 140.39, True]
print(List_A)

['abc', 34, 140.39, True]

### Accessing List Items

- List items are indexed and you can access them by referring to the index number or range of index.

**Example**

- Postivie Index

In [7]:
fruits = ["apple", "banana", "cherry", "mango", "graps", "orange"]
print(fruits[3])

mango

- Negetive Index

In [8]:
fruits = ["apple", "banana", "cherry", "mango", "graps", "orange"]
print(fruits[-4])

cherry

- Range of Index

In [9]:
fruits = ["apple", "banana", "cherry", "mango", "graps", "orange"]
print(fruits[2:5])

['cherry', 'mango', 'graps']

In [10]:
fruits = ["apple", "banana", "cherry", "mango", "graps", "orange"]
print(fruits[-4:-1])

['cherry', 'mango', 'graps']

In [11]:
fruits = ["apple", "banana", "cherry", "mango", "graps", "orange"]
print(fruits[3:])

['mango', 'graps', 'orange']

In [12]:
fruits = ["apple", "banana", "cherry", "mango", "graps", "orange"]
print(fruits[:4])

['apple', 'banana', 'cherry', 'mango']

In [13]:
fruits = ["apple", "banana", "cherry", "mango", "graps", "orange"]
print(fruits[0:4:2])

['apple', 'cherry']

In [14]:
fruits = ["apple", "banana", "cherry", "mango", "graps", "orange"]
print(fruits[0::2])

['apple', 'cherry', 'graps']

### Check if Item Exists

- To determine if a specified item is present in a list use the " in " keyword.

**Example**

- Check if "apple" is present in the list.

In [15]:
fruits = ["apple", "banana", "cherry", "mango", "graps", "orange"]
if "apple" in fruits:
    print("Yes")

Yes

### Change List Items

#### Change Item Value

- To change the value of a specific item, refer to the index number.

**Example**

- Change the fourth item.

In [16]:
fruits = ["apple", "banana", "cherry", "mango", "graps", "orange"]
fruits[3] = "blackcurrant"
print(fruits)

['apple', 'banana', 'cherry', 'blackcurrant', 'graps', 'orange']

#### Change a Range of Item Values

- To change the value of items within a specific range, define a list with the new values, and refer to the range of index numbers where you want to insert the new values.

**Example**

- Change the values "banana" and "cherry" with the values "blackcurrant" and "watermelon".

In [17]:
fruits = ["apple", "banana", "cherry", "orange", "kiwi", "mango"]
fruits[1:3] = ["blackcurrant", "watermelon"]
print(fruits)

['apple', 'blackcurrant', 'watermelon', 'orange', 'kiwi', 'mango']

**If you insert more items than you replace, the new items will be inserted where you specified, and the remaining items will move accordingly.**

**Example**

In [18]:
fruits = ["apple", "banana", "cherry", "orange", "mango"]
fruits[2:3] = ["blackcurrant", "watermelon"]
print(fruits)

['apple', 'banana', 'blackcurrant', 'watermelon', 'orange', 'mango']

**If you insert less items than you replace, the new items will be inserted where you specified, and the remaining items will move accordingly.**

**Example**

In [19]:
fruits = ["apple", "banana", "cherry", "orange", "mango"]
fruits[3:5] = ["blackcurrant"]
print(fruits)

['apple', 'banana', 'cherry', 'blackcurrant']

**Note:** The length of the list will change when the number of items inserted does not match the number of items replaced.

### Add List Items

#### Append Items

- To add an item to the end of the list, use the append() method.
- Only one item can be append at once.

**Example**

- Using the append() method to append an item.

In [20]:
fruits = ["apple", "banana", "cherry"]
fruits.append("orange")
print(fruits)

['apple', 'banana', 'cherry', 'orange']

#### Insert Items 

- To insert a new list item, without replacing any of the existing values, we can use the insert() method.
- The insert() method inserts an item at the specified index.

**Example**

- Insert "watermelon" as the third item.

In [21]:
fruits = ["apple", "banana", "cherry", "orange", "mango"]
fruits.insert(2, "watermelon")
print(fruits)

['apple', 'banana', 'watermelon', 'cherry', 'orange', 'mango']

#### Extend List
To append elements from another list to the current list, use the extend() method.

**Example**

In [22]:
fruits_a = ["apple", "banana", "cherry"]
fruits_b = ["mango", "pineapple", "papaya"]
fruits_a.extend(fruits_b)
print(fruits_a)

['apple', 'banana', 'cherry', 'mango', 'pineapple', 'papaya']

**Note:** The elements will be added to the end of the list.

#### Add Any Iterable

- The extend() method does not have to append lists, you can add any iterable object (tuples, sets, dictionaries etc.).

**Example**

- Add elements of a tuple to a list.

In [23]:
fruits_l = ["apple", "banana", "cherry"]
fruits_t = ("kiwi", "orange")
fruits_l.extend(fruits_t)
print(fruits_l)

['apple', 'banana', 'cherry', 'kiwi', 'orange']

### Remove List Items

#### Remove Specified Item

- The remove() method removes the specified item.

**Example**

- Remove "banana".

In [24]:
fruits = ["apple", "orange", "banana", "cherry","banana"]
fruits.remove("banana")
print(fruits)

['apple', 'orange', 'cherry', 'banana']

#### Remove Specified Index

- The pop() method removes the specified index.

**Example**

- Remove the third item.

In [25]:
fruits = ["apple", "orange", "banana", "cherry"]
fruits.pop(2)
print(fruits)

['apple', 'orange', 'cherry']

**Note:** If you do not specify the index, the pop() method removes the last item.

**Example**

In [26]:
fruits = ["apple", "orange", "banana", "cherry"]
fruits.pop()
print(fruits)

['apple', 'orange', 'banana']

**Note**: pop() also returns the poped item from the list.

**Example**

In [27]:
fruits = ["apple", "orange", "banana", "cherry"]
poped_item = fruits.pop(2)
print(poped_item)

banana

- The del keyword also removes the specified index.

**Example**

- Remove the second item.

In [28]:
fruits = ["apple", "orange", "banana", "cherry"]
del fruits[1]
print(fruits)

['apple', 'banana', 'cherry']

- The del keyword can also delete item in the given range.

**Example**

In [29]:
fruits = ["apple", "orange", "banana", "cherry"]
del fruits[0:2]
print(fruits)

['banana', 'cherry']

- The del keyword can also delete the list completely.

**Example**

In [30]:
fruits = ["apple", "banana", "cherry"]
del fruits

#### Clear the List

- The clear() method empties the list.
- The list still remains, but it has no content.

**Example**

- Clear the list content.

In [31]:
fruits = ["apple", "banana", "cherry"]
fruits.clear()
print(fruits)

[]

### Loop Lists

#### Loop Through a List

- You can loop through the list items by using a for loop.

**Example**

- Print all items in the list, one by one.

In [32]:
fruits = ["apple", "banana", "cherry", "mango", "orange"]
for x in fruits:
    print(x)

apple
banana
cherry
mango
orange

#### Loop Through the Index Numbers

- You can also loop through the list items by referring to their index number.
- Use the range() and len() functions to create a suitable iterable.

**Example**

- Print all items by referring to their index number.

In [33]:
fruits = ["apple", "banana", "cherry", "mango", "orange"]
for i in range(len(fruits)):
    print(fruits[i])

apple
banana
cherry
mango
orange

#### Using a While Loop

- You can loop through the list items by using a while loop.
- Use the len() function to determine the length of the list, then start at 0 and loop your way through the list items by refering to their indexes.
- Remember to increase the index by 1 after each iteration.

**Example**

- Print all items, using a while loop to go through all the index numbers.

In [34]:
fruits = ["apple", "banana", "cherry", "orange", "mango"]
i = 0
while i < len(fruits):
    print(fruits[i])
    i = i + 1

apple
banana
cherry
orange
mango

### Sort Lists

#### Sort List Alphanumerically

- List objects have a sort() method that will sort the list alphanumerically, ascending, by default.

**Example**

- Sort the list alphabetically.

In [35]:
fruits = ["orange", "mango", "kiwi", "pineapple", "banana"]
fruits.sort()
print(fruits)

['banana', 'kiwi', 'mango', 'orange', 'pineapple']

**Example**

- Sort the list numerically.

In [36]:
nums = [100, 50, 65, 82, 23]
nums.sort()
print(nums)

[23, 50, 65, 82, 100]

**To sort descending, use the keyword argument "reverse = True"**

**Example**

- Sort the list descending.

In [37]:
fruits = ["orange", "mango", "kiwi", "pineapple", "banana"]
fruits.sort(reverse = True)
print(fruits)

['pineapple', 'orange', 'mango', 'kiwi', 'banana']

#### Customize Sort Function

- You can also customize your own function by using the keyword argument key = function.
- The function will return a number that will be used to sort the list (the lowest number first).

**Example**

- Sort the list based on how close the number is to 50.

In [38]:
def myfunc(n):
    return abs(n - 50)

list_a = [100, 50, 65, 82, 23]
list_a.sort(key = myfunc)
print(list_a)

[50, 65, 23, 82, 100]

#### Case Insensitive Sort

- By default the sort() method is case sensitive, resulting in all upper case letters being sorted before lower case letters.

**Example**

- Case sensitive sorting can give an unexpected result.

In [39]:
fruits = ["Banana", "orange", "Kiwi", "cherry"]
fruits.sort()
print(fruits)

['Banana', 'Kiwi', 'cherry', 'orange']

**If you do not want case sensetive sorting use the keyword argument key = str.lower.**

**Example**

- Perform a case-insensitive sort of the list.

In [40]:
fruits = ["Banana", "orange", "Kiwi", "cherry"]
fruits.sort(key = str.lower)
print(fruits)

['Banana', 'cherry', 'Kiwi', 'orange']

#### Reverse Order

- What if you want to reverse the order of a list, regardless of the alphabet?
- The reverse() method reverses the current sorting order of the elements.

**Example**

- Reverse the order of the list items.

In [41]:
fruits = ["Banana", "orange", "Kiwi", "cherry", "Mango"]
fruits.reverse()
print(fruits)

['Mango', 'cherry', 'Kiwi', 'orange', 'Banana']

### Join Lists

- There are several ways to join, or concatenate, two or more lists in Python.
- One of the easiest ways are by using the + operator.

**Example**

- Join two list.

In [42]:
list_a = ["a", "b", "c"]
list_b = [1, 2, 3]

list_c = list_a + list_b
print(list_c)

['a', 'b', 'c', 1, 2, 3]

**Another way to join two lists is by appending all the items from list2 into list1, one by one.**

**Example**

- Append list_a into list_b.

In [43]:
list_a = ["a", "b" , "c"]
list_b = [1, 2, 3]

for x in list_b:
    list_a.append(x)

print(list_a)

['a', 'b', 'c', 1, 2, 3]

**Or you can use the extend() method, which purpose is to add elements from one list to another list.**

**Example**

- Use the extend() method to add list_b at the end of list_a.

In [44]:
list_a = ["a", "b" , "c"]
list_b = [1, 2, 3]

list_a.extend(list_b)
print(list_a)

['a', 'b', 'c', 1, 2, 3]

### List Methods

append()    Adds an element at the end of the list.

clear()    Removes all the elements from the list.

copy()    Returns a copy of the list.

count()    Returns the number of elements with the specified value.

extend()    Add the elements of a list (or any iterable), to the end of the current list.

index()    Returns the index of the first element with the specified value.

insert()    Adds an element at the specified position.

pop()    Removes the element at the specified position.

remove()    Removes the item with the specified value.

reverse()    Reverses the order of the list.

sort()    Sorts the list.

## Python Tuples

- Tuples are used to store multiple items in a single variable.
- Tuples are written with round brackets.

**Example**

- Create a Tuple.

In [45]:
fruits = ("apple", "banana", "cherry","mango","orange")
print(fruits)

('apple', 'banana', 'cherry', 'mango', 'orange')

### Tuple Items

- Tuple items are ordered, unchangeable, and allow duplicate values.
- Tuple items are indexed, the first item has index [0], the second item has index [1] etc.

#### Ordered

- When we say that tuples are ordered, it means that the items have a defined order, and that order will not change.

#### Unchangeable

- Tuples are unchangeable, meaning that we cannot change, add or remove items after the tuple has been created.

#### Duplicates Allowed

- Since tuples are indexed, they can have items with the same value.

### The tuple( ) Constructor

- It is also possible to use the tuple() constructor to make a tuple.

**Example**

- Using the tuple() constructor to make a Tuple.

In [46]:
fruits = tuple(("Mango","Apple", "Banana", "Orange","Guava"))
print(fruits)

('Mango', 'Apple', 'Banana', 'Orange', 'Guava')

### Tuple Length

- To determine how many items a tuple has, use the len() function.

**Example**

- Print the number of items in the tuple.

In [47]:
fruits = tuple(("apple", "banana", "cherry", "mango", "graps"))
print(len(fruits))

5

### Tuple Data Type

- From Python's perspective, lists are defined as objects with the data type 'tuple'.

**Example**

- What is the data type of a tuple?

In [48]:
fruits = ("apple", "banana", "cherry", "mango", "graps")
print(type(fruits))

<class 'tuple'>

### Tuple Items - Data Types

- Tuple items can be of any data type.

**Example**

- Tuple of string, int and boolean values.

In [49]:
Tuple_1 = ("apple", "banana", "cherry", "orange", "mango")
Tuple_2 = (1, 5, 7, 9, 3)
Tuple_3 = (True, False, False)
print(Tuple_1)
print(Tuple_2)
print(Tuple_3)

('apple', 'banana', 'cherry', 'orange', 'mango')
(1, 5, 7, 9, 3)
(True, False, False)

**Example**

- A tuple with strings, integers and boolean values.

In [50]:
Tuple_A = ["abc", 34, 140.39, True]
print(Tuple_A)

['abc', 34, 140.39, True]

### Accessing Tuple Items

- Tuple items are indexed and you can access them by referring to the index number or range of index.

**Example**

- Postivie Index

In [51]:
fruits = ("apple", "banana", "cherry", "mango", "graps", "orange")
print(fruits[3])

mango

- Negative Index

In [52]:
fruits = ["apple", "banana", "cherry", "mango", "graps", "orange"]
print(fruits[-4])

cherry

- Range of Index

In [53]:
fruits = ("apple", "banana", "cherry", "mango", "graps", "orange")
print(fruits[2:5])

('cherry', 'mango', 'graps')

In [54]:
fruits = ("apple", "banana", "cherry", "mango", "graps", "orange")
print(fruits[-4:-1])

('cherry', 'mango', 'graps')

In [55]:
fruits = ("apple", "banana", "cherry", "mango", "graps", "orange")
print(fruits[3:])

('mango', 'graps', 'orange')

In [56]:
fruits = ("apple", "banana", "cherry", "mango", "graps", "orange")
print(fruits[:4])

('apple', 'banana', 'cherry', 'mango')

In [57]:
fruits = ("apple", "banana", "cherry", "mango", "graps", "orange")
print(fruits[0:4:2])

('apple', 'cherry')

In [58]:
fruits = ("apple", "banana", "cherry", "mango", "graps", "orange")
print(fruits[0::2])

('apple', 'cherry', 'graps')

### Check if Item Exists

- To determine if a specified item is present in a tuple use the " in " keyword.

**Example**

- Check if "apple" is present in the tuple.

In [59]:
fruits = ("apple", "banana", "cherry", "mango", "graps", "orange")
if "apple" in fruits:
    print("Yes")

Yes

### Change Tupple Items

**Tuples are unchangeable, meaning that you cannot change, add, or remove items once the tuple is created.**

**So, to do any of these operations like change, add, or remove items first convert tuple into list and operate on list and convert it again to tuple.**

### Unpack Tuples

- When we create a tuple, we normally assign values to it. This is called "packing" a tuple. But, in Python, we are also allowed to extract the values back into variables. This is called "unpacking".

**Example**

In [60]:
fruits = ("apple", "banana", "cherry")

In [61]:
(green, yellow, red) = fruits

In [62]:
print(green)
print(yellow)
print(red)

apple
banana
cherry

#### Using Asterisk*

- If the number of variables is less than the number of values, you can add an * to the variable name and the values will be assigned to the variable as a list.

**Example**

- Assign the rest of the values as a list called "red".

In [63]:
fruits = ("apple", "banana", "cherry", "mango", "graps", "orange")
(green, yellow, *red) = fruits
print(green)
print(yellow)
print(red)

apple
banana
['cherry', 'mango', 'graps', 'orange']

**Note:** If the asterisk is added to another variable name than the last, Python will assign values to the variable until the number of values left matches the number of variables left.

In [64]:
fruits = ("apple", "banana", "cherry", "mango", "graps", "orange")
(green, *yellow, red) = fruits
print(green)
print(yellow)
print(red)

apple
['banana', 'cherry', 'mango', 'graps']
orange

### Loop Tuples

#### Loop Through a Tuple

- You can loop through the tuple items by using a for loop.

**Example**

- Print all items in the tuple, one by one.

In [65]:
fruits = ("apple", "banana", "cherry", "mango", "orange")
for x in fruits:
    print(x)

apple
banana
cherry
mango
orange

#### Loop Through the Index Numbers

- You can also loop through the tuple items by referring to their index number.
- Use the range() and len() functions to create a suitable iterable.

**Example**

- Print all items by referring to their index number.

In [66]:
fruits = ("apple", "banana", "cherry", "mango", "orange")
for i in range(len(fruits)):
    print(fruits[i])

apple
banana
cherry
mango
orange

#### Using a While Loop

- You can loop through the list items by using a while loop.
- Use the len() function to determine the length of the list, then start at 0 and loop your way through the list items by refering to their indexes.
- Remember to increase the index by 1 after each iteration.

**Example**

- Print all items, using a while loop to go through all the index numbers.

In [67]:
fruits = ("apple", "banana", "cherry", "orange", "mango")
i = 0
while i < len(fruits):
    print(fruits[i])
    i = i + 1

apple
banana
cherry
orange
mango

### Join Tuples

- To join two or more tuples you can use the + operator.

**Example**

- Join two tuples.

In [68]:
tuple_a = ("a", "b", "c")
tuple_b = (1, 2, 3)

tuple_c = tuple_a + tuple_b

print(tuple_c)

('a', 'b', 'c', 1, 2, 3)

#### Multiply Tuples

- If you want to multiply the content of a tuple a given number of times, you can use the * operator.

**Example**

In [69]:
fruits_a = ("apple", "banana", "cherry")
tuple_a = (2,4,5,6)


fruits_1 = fruits_a * 2
tuple_1 = tuple_a * 2
 
print(fruits_1)
print(tuple_1)

('apple', 'banana', 'cherry', 'apple', 'banana', 'cherry')
(2, 4, 5, 6, 2, 4, 5, 6)

### Tuple Methods

- Python has two built-in methods that you can use on tuples.

count()    Returns the number of times a specified value occurs in a tuple.

index()    Searches the tuple for a specified value and returns the position of where it was found.

## Python Sets

- Sets are used to store multiple items in a single variable.
- Sets are written with curly brackets

**Example**

- Create a Set.

In [70]:
fruits = {"apple", "mango", "cheery", "banana", "orange"}
print(fruits)

{'orange', 'mango', 'apple', 'banana', 'cheery'}

### Set Items

- Set items are unordered, unchangeable, and do not allow duplicate values.

#### Unordered

- Unordered means that the items in a set do not have a defined order.
- Set items can appear in a different order every time you use them, and cannot be referred to by index or key.

#### Unchangeable

- Set items are unchangeable, meaning that we cannot change the items after the set has been created.
- Once a set is created, you cannot change its items, but you can remove items and add new items.

#### Duplicates Not Allowed

- Sets cannot have two items with the same value.

### The set ( ) Constructor

- It is also possible to use the set( ) constructor to make a set.

**Example**

- Using the set() constructor to make a Set.

In [71]:
fruits = set(("Mango","Apple", "Banana", "Orange","Guava"))
print(fruits)

{'Apple', 'Mango', 'Guava', 'Banana', 'Orange'}

### Set Length

- To determine how many items a set has, use the len() function.

**Example**

- Print the number of items in the set.

In [72]:
fruits = set(("apple", "banana", "cherry", "mango", "graps"))
print(len(fruits))

5

### Set Data Type

- From Python's perspective, lists are defined as objects with the data type 'set'.

**Example**

- What is the data type of a set?

In [73]:
fruits = {"apple", "banana", "cherry", "mango", "graps"}
print(type(fruits))

<class 'set'>

### Set Items - Data Types

- Set items can be of any data type.

**Example**

- Set of string, int and boolean values.

In [74]:
Set_1 = {"apple", "banana", "cherry", "orange", "mango"}
Set_2 = {1, 5, 7, 9, 3}
Set_3 = {True, False, False}
print(Set_1)
print(Set_2)
print(Set_3)

{'orange', 'mango', 'apple', 'banana', 'cherry'}
{1, 3, 5, 7, 9}
{False, True}

**Example**

- A set with strings, integers and boolean values.

In [75]:
Set_A = {"abc", 34, 140.39, True}
print(Set_A)

{140.39, 34, 'abc', True}

### Accessing Tuple Items

- We cannot access items in a set by referring to an index or a key.
- But you can loop through the set items using a for loop, or ask if a specified value is present in a set, by using the in keyword.

**Example**

- Check if "banana" is present in the set.

In [76]:
fruits = {"mango","apple", "banana", "orange","guava"}
print("banana" in fruits)

True

### Add Set Items

- Once a set is created, you cannot change its items, but you can add new items.
- To add one item to a set use the add() method.

**Example**

- Add an item to a set, using the add() method.

In [77]:
fruits = {"apple", "banana", "cherry"}

fruits.add("orange")

print(fruits)

{'cherry', 'orange', 'apple', 'banana'}

#### Add Any Iterable

- The object in the update() method does not have to be a set, it can be any iterable object (tuples, lists, dictionaries etc.).

**Example**

- Add elements of a list to at set.

In [78]:
fruits_a = {"apple", "banana", "cherry"}
fruits_b = ["kiwi", "orange"]

fruits_a.update(fruits_b)

print(fruits_a)

{'kiwi', 'apple', 'orange', 'banana', 'cherry'}

### Remove Set Items

- To remove an item in a set, use the remove(), or the discard() method.

**Example**

- Remove "banana" by using the remove() method.

In [79]:
fruits = {"apple", "banana", "cherry", "mango"}

fruits.remove("banana")

print(fruits)

{'mango', 'cherry', 'apple'}

**Note:** If the item to remove does not exist, remove() will raise an error.

**Example**

- Remove "banana" by using the discard() method.

In [80]:
fruits = {"apple", "banana", "cherry", "mango"}

fruits.discard("banana")

print(fruits)

{'mango', 'cherry', 'apple'}

**Note:** If the item to remove does not exist, discard() will NOT raise an error.

#### Clear the Set

**Example**

- The clear() method empties the set.

In [81]:
fruits = {"apple", "banana", "cherry"}

fruits.clear()

print(fruits)

set()

#### Delete the Set

**Example**

- The del keyword will delete the set completely.

In [82]:
fruits = {"apple", "banana", "cherry"}

del fruits

print(fruits)

NameError: name 'fruits' is not defined

### Loop Sets

#### Loop through a Set

- You can loop through the set items by using a for loop.

**Example**

- Loop through the set, and print the values.

In [83]:
fruits = {"apple", "banana", "cherry", "mango"}

for x in fruits:
    print(x)

mango
cherry
apple
banana

### Join Sets

- There are several ways two join two or more sets.

**A. Union**

- The union() method returns a new set with all items from two or more sets.

**Example**

In [84]:
set1 = {"a", "b" , "c"}
set2 = {1, 2, 3}

set3 = set1.union(set2)
print(set3)

{'b', 1, 2, 3, 'a', 'c'}

**B. Intersection**

- The intersection() method will return a new set, that only contains the items that are present in two or sets.

**Example**

- Return a set that contains the items that exist in both set x, and set y.

In [85]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

z = x.intersection(y)

print(z)

{'apple'}

**C. Difference**

- The difference method will returns a set containing the difference between two or more sets.

In [86]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

z = x.difference(y)

print(z)

{'cherry', 'banana'}

### Set Methods

- Python has a set of built-in methods that you can use on sets.

add()    Adds an element to the set.

clear()    Removes all the elements from the set.

copy()    Returns a copy of the set

difference()    Returns a set containing the difference between two or more sets.

difference_update()    Removes the items in this set that are also included in another, specified set.

discard()    Remove the specified item.

intersection()    Returns a set, that is the intersection of two other sets.

intersection_update()    Removes the items in this set that are not present in other, specified set(s).

isdisjoint()    Returns whether two sets have a intersection or not.

issubset()    Returns whether another set contains this set or not.

issuperset()    Returns whether this set contains another set or not.

pop()    Removes an element from the set.

remove()    Removes the specified element.

symmetric_difference()    Returns a set with the symmetric differences of two sets.

symmetric_difference_update()    Inserts the symmetric differences from this set and another.

union()    Return a set containing the union of sets.

update()    Update the set with the union of this set and others.

## Python Dictionaries

- Dictionaries are used to store data values in key:value pairs.
- Dictionaries are written with curly brackets, and have keys and values:

**Example**

In [87]:
My_Fav_Car = {"Brand": "Ford", "Model": "Mustang", "Year": 1964, "Color":"Red"}
print(My_Fav_Car)

{'Brand': 'Ford', 'Model': 'Mustang', 'Year': 1964, 'Color': 'Red'}

### Dictionary Items

- Dictionary items are ordered, changeable, and does not allow duplicates.
- Dictionary items are presented in key:value pairs, and can be referred to by using the key name.

#### Ordered 

- When we say that tuples are ordered, it means that the items have a defined order, and that order will not change.

#### Changeable

- Dictionaries are changeable, meaning that we can change, add or remove items after the dictionary has been created.

#### Duplicates Not Allowed

- Dictionaries cannot have two items with the same key. Duplicate values will overwrite existing values

### The dictionary ( ) Constructor

- It is also possible to use the dict() constructor when creating a new dictionary.

**Example**

In [88]:
My_Fav_Car = dict(Brand = "Ford", Model = "Mustang", Year = 1964, Color = "Red")
print(My_Fav_Car)

{'Brand': 'Ford', 'Model': 'Mustang', 'Year': 1964, 'Color': 'Red'}

### Dictionary Length

- To determine how many items a dictionary has, use the len() function.

**Example**

- Print the number of items in the dictionary.

In [89]:
My_Fav_Car = {"Brand": "Ford", "Model": "Mustang", "Year": 1964, "Color":"Red"}
print(len(My_Fav_Car))

4

### Dictionary Data Type

- From Python's perspective, dictionaries are defined as objects with the data type 'dict'.

**Example**

- What is the data type of a dictionary?

In [90]:
My_Fav_Car = {"Brand": "Ford", "Model": "Mustang", "Year": 1964, "Color":"Red"}
print(type(My_Fav_Car))

<class 'dict'>

### Dictionary Items - Data Types

- The value of dictionary items can be of any data type.

**Example**

- Value of string, int, boolean or list.

In [91]:
Car_Detail = { "Brand": "Ford", "Electric": False, "Year": 1964, "Colors": ["Red", "White", "Blue"]}
print(Car_Detail)

{'Brand': 'Ford', 'Electric': False, 'Year': 1964, 'Colors': ['Red', 'White', 'Blue']}

### Accessing Dictionary Items

- You can access the items of a dictionary by referring to its key name, inside square brackets.

**Example**

- Get the value of the "model" key.

In [92]:
My_Fav_Car = {"Brand": "Ford", "Model": "Mustang", "Year": 1964, "Color":"Red"}
print(My_Fav_Car["Model"])

Mustang

**There is also a method called get( ) that will give you the same result.**

**Example**

- Get the value of the "model" key.

In [93]:
My_Fav_Car = {"Brand": "Ford", "Model": "Mustang", "Year": 1964, "Color":"Red"}
My_Fav_Car.get("Model")

'Mustang'

#### Get Keys

- The keys() method will return a list of all the keys in the dictionary.

**Example**

- Get a list of the keys.

In [94]:
My_Fav_Car = {"Brand": "Ford", "Model": "Mustang", "Year": 1964, "Color":"Red"}
My_Fav_Car.keys()

dict_keys(['Brand', 'Model', 'Year', 'Color'])

#### Get Values

- The values() method will return a list of all the values in the dictionary.

**Example**

- Get a list of the values.

In [95]:
My_Fav_Car = {"Brand": "Ford", "Model": "Mustang", "Year": 1964, "Color":"Red"}
My_Fav_Car.values()

dict_values(['Ford', 'Mustang', 1964, 'Red'])

#### Get Items

- The items() method will return each item in a dictionary, as tuples in a list.

**Example**

- Get a list of the key:value pairs.

In [96]:
My_Fav_Car = {"Brand": "Ford", "Model": "Mustang", "Year": 1964, "Color":"Red"}
My_Fav_Car.items()

dict_items([('Brand', 'Ford'), ('Model', 'Mustang'), ('Year', 1964), ('Color', 'Red')])

### Check if Key Exists

- To determine if a specified key is present in a dictionary use the in keyword.

**Example**

- Check if "model" is present in the dictionary.

In [97]:
My_Fav_Car = {"Brand": "Ford", "Model": "Mustang", "Year": 1964, "Color":"Red"}

if "Model" in My_Fav_Car:
    print("Yes, 'Model' is one of the keys in the 'My_Fav_Car' dictionary.")

Yes, 'Model' is one of the keys in the 'My_Fav_Car' dictionary.

### Change Dictionary Items

#### Change Values

- You can change the value of a specific item by referring to its key name.

**Example**

- Change the "Year" to 2018.

In [98]:
My_Fav_Car = {"Brand": "Ford", "Model": "Mustang", "Year": 1964, "Color":"Red"}
My_Fav_Car["Year"] = 2018
print(My_Fav_Car)

{'Brand': 'Ford', 'Model': 'Mustang', 'Year': 2018, 'Color': 'Red'}

**There is also a method called update( ) that will give you the same result.**

- The update() method will update the dictionary with the items from the given argument.
- The argument must be a dictionary, or an iterable object with key:value pairs.

**Example**

- Update the "Year" of the car by using the update() method.

In [99]:
My_Fav_Car = {"Brand": "Ford", "Model": "Mustang", "Year": 1964, "Color":"Red"}
My_Fav_Car.update({"Year": 2018})
print(My_Fav_Car)

{'Brand': 'Ford', 'Model': 'Mustang', 'Year': 2018, 'Color': 'Red'}

### Add Dictionary Items

- Adding an item to the dictionary is done by using a new index key and assigning a value to it.

**Example**

In [100]:
My_Fav_Car = {"Brand": "Ford", "Model": "Mustang", "Year": 1964}
My_Fav_Car["Color"] = "Red"
print(My_Fav_Car)

{'Brand': 'Ford', 'Model': 'Mustang', 'Year': 1964, 'Color': 'Red'}

**There is also a method called update( ) that will give you the same result.**

- The update() method will update the dictionary with the items from a given argument. If the item does not exist, the item will be added.
- The argument must be a dictionary, or an iterable object with key:value pairs.

**Example**

In [101]:
My_Fav_Car = {"Brand": "Ford", "Model": "Mustang", "Year": 1964}
My_Fav_Car.update({"Color":"Red"})
print(My_Fav_Car)

{'Brand': 'Ford', 'Model': 'Mustang', 'Year': 1964, 'Color': 'Red'}

### Remove Dictionary Items

#### Remove Specified Items

- The pop( ) method removes the item with the specified key name.

**Example**

- Remove "Color".

In [102]:
My_Fav_Car = {"Brand": "Ford", "Model": "Mustang", "Year": 1964, "Color":"Red"}
My_Fav_Car.pop("Color")
print(My_Fav_Car)

{'Brand': 'Ford', 'Model': 'Mustang', 'Year': 1964}

- The popitem( ) method removes the last inserted item.

**Example**

In [103]:
My_Fav_Car = {"Brand": "Ford", "Model": "Mustang", "Year": 1964, "Color":"Red"}
My_Fav_Car.popitem()
print(My_Fav_Car)

{'Brand': 'Ford', 'Model': 'Mustang', 'Year': 1964}

#### Clear the Dictionary

- The clear() method empties the dictionary.
- The dictionary still remains, but it has no content.

**Example**

- Clear the dictionary content.

In [104]:
My_Fav_Car = {"Brand": "Ford", "Model": "Mustang", "Year": 1964, "Color":"Red"}
My_Fav_Car.clear()
print(My_Fav_Car)

{}

#### Delete the Dictionary

- The del keyword delete the dictionary completely.

**Example**

In [105]:
My_Fav_Car = {"Brand": "Ford", "Model": "Mustang", "Year": 1964, "Color":"Red"}
del My_Fav_Car

### Loop Dictionary

#### Loop Through a Dictionary

- You can loop through a dictionary by using a for loop.
- When looping through a dictionary, the return value are the keys of the dictionary, but there are methods to return the values as well.

**Example**

- Print all key names in the dictionary, one by one.

In [106]:
My_Fav_Car = {"Brand": "Ford", "Model": "Mustang", "Year": 1964, "Color":"Red"}
for x in My_Fav_Car:
    print(x)

Brand
Model
Year
Color

**Example**

- You can use the keys() method to return the keys of a dictionary.

In [107]:
My_Fav_Car = {"Brand": "Ford", "Model": "Mustang", "Year": 1964, "Color":"Red"}
for x in My_Fav_Car.keys():
    print(x)

Brand
Model
Year
Color

**Example**

- Print all values in the dictionary, one by one.

In [108]:
My_Fav_Car = {"Brand": "Ford", "Model": "Mustang", "Year": 1964, "Color":"Red"}
for x in My_Fav_Car:
    print(My_Fav_Car[x])

Ford
Mustang
1964
Red

**Example**

- You can also use the values() method to return values of a dictionary.

In [109]:
My_Fav_Car = {"Brand": "Ford", "Model": "Mustang", "Year": 1964, "Color":"Red"}
for x in My_Fav_Car.values():
    print(x)

Ford
Mustang
1964
Red

**Example**

- Loop through both keys and values, by using the items() method.

In [110]:
My_Fav_Car = {"Brand": "Ford", "Model": "Mustang", "Year": 1964, "Color":"Red"}
for x,y in My_Fav_Car.items():
    print(x,y)

Brand Ford
Model Mustang
Year 1964
Color Red

### Copy Dictionaries

- You cannot copy a dictionary simply by typing dict2 = dict1, because: dict2 will only be a reference to dict1, and changes made in dict1 will automatically also be made in dict2.
- There are ways to make a copy, one way is to use the built-in Dictionary method copy().

**Example**

- Make a copy of a dictionary with the copy() method.

In [111]:
My_Fav_Car = {"Brand": "Ford", "Model": "Mustang", "Year": 1964, "Color":"Red"}
Your_Fav_Car = My_Fav_Car.copy()
print(Your_Fav_Car)

{'Brand': 'Ford', 'Model': 'Mustang', 'Year': 1964, 'Color': 'Red'}

### Nested Dictionaries

- A dictionary can contain dictionaries, this is called nested dictionaries.

**Example**

In [112]:
My_Family = {
  "Child1" : {
    "Name" : "Emil",
    "Year" : 2004
  },
  "Child2" : {
    "Name" : "Tobias",
    "Year" : 2007
  },
  "Child3" : {
    "Name" : "Linus",
    "Year" : 2011
  }
}

print(My_Family)

{'Child1': {'Name': 'Emil', 'Year': 2004}, 'Child2': {'Name': 'Tobias', 'Year': 2007}, 'Child3': {'Name': 'Linus', 'Year': 2011}}

**Example**

In [113]:
Child1 = {
  "Name" : "Emil",
  "Year" : 2004
}
Child2 = {
  "Name" : "Tobias",
  "Year" : 2007
}
Child3 = {
  "Name" : "Linus",
  "Year" : 2011
}

My_Family = {
  "Child1" : Child1,
  "Child2" : Child2,
  "Child3" : Child3
}

print(My_Family)

{'Child1': {'Name': 'Emil', 'Year': 2004}, 'Child2': {'Name': 'Tobias', 'Year': 2007}, 'Child3': {'Name': 'Linus', 'Year': 2011}}

### Dictionary Methods

- Python has a set of built-in methods that you can use on dictionaries.

clear()    Removes all the elements from the dictionary.

copy()    Returns a copy of the dictionary.

fromkeys()    Returns a dictionary with the specified keys and value.

get()    Returns the value of the specified key.

items()    Returns a list containing a tuple for each key value pair.

keys()    Returns a list containing the dictionary's keys.

pop()    Removes the element with the specified key.

popitem()    Removes the last inserted key-value pair.

update()    Updates the dictionary with the specified key-value pairs.

values()    Returns a list of all the values in the dictionary.

setdefault()    Returns the value of the specified key. If the key does not exist, insert the key, with the specified value.

**CONTINUED......**