# Hands on Python C

## 1. Python Decision Control Statement

### 1.1. Selection Control Statements ( if, if-else and if-elif-else)

****Indentation**

- Indentation is a way of telling the Python interpreter that a series of statements belong to a particular block of code.

**Syntax of if elif else**

if condition:
    # Code to execute if coddition matches.
    
elif condition:
    # Code to execute elif coddition matches.
    
elif condition:
    # Code to execute elif coddition matches.
:
:
:

else:
     Code to execute when no coddition above matches.

**Example**

In [1]:
x = 33
y = 27

if x>y:
    print("X is greater than Y.")

X is greater than Y.

**Example**

- Print division of students as per their rank.

In [2]:
rank = int(input("Enter your rank: "))

if rank == 1:
    print("First Division")
elif rank == 2:
    print("Second Devision")
elif rank == 3:
    print("Third Devision")
else:
    print("No Division")

Enter your rank: 10
No Division

**Example**

-  Print the Fibonacci Sequence upto n-th term provided by the user.

In [3]:
number = int(input("Please enter the number of terms for the Fibonacci Sequence: "))

#First Two Terms of Fibonacci Sequence are:

n1,n2 = 0,1

count = 0

if number<=0:
    print("Please enter a positive number.")
elif number == 1:
    print(f"Fibonacci Sequence upto {number}: ", n1)
else:
    print(f"Fibonacci Sequence upto {number}:")
    while count<=number:
        print(n1)
        nth = n1+n2
        n1 = n2
        n2 = nth
        count+=1

Please enter the number of terms for the Fibonacci Sequence: 10
Fibonacci Sequence upto 10:
0
1
1
2
3
5
8
13
21
34
55

### **The match Statement

The match statement provides a concise and readable way to perform different actions based on the structure of a value. It is often used when you have a value and want to check its type and/or attributes and execute code based on the match.

**Syntax of match**

match expression:
    case 1:
        # Code to execute if case 1 matches
    case 2:
        # Code to execute if case 2 matches
    :
    :
    :
    :
    
    case _:
        # Code to execute if none of the case match

**Example**

-  You are given a list of numbers [2, 5, 10, 15, 20]. Use the match statement to iterate through each number and print the following messages based on the value of the number:
   - If the number is even, print "Even number."
   - If the number is divisible by 5, print "Divisible by 5."
   - If the number is both even and divisible by 5, print "Even and divisible by 5."
   - For any other number, print "Neither even nor divisible by 5."

In [4]:
numbers = [2, 5, 10, 15, 20]

for num in numbers:
    match num:
        case _ if num % 2 == 0 and num % 5 == 0:
            print("Even and Divisible by 5.")
        case _ if num % 2 == 0:
            print("Even Number.")
        case _ if num % 5 == 0:
            print("Divisible by 5.")
        case _:
            print("Neither Even nor Divisible by 5.")

Even Number.
Divisible by 5.
Even and Divisible by 5.
Divisible by 5.
Even and Divisible by 5.

### 1.2. Iterative Control Statement

### Loops

- In a programming language, a loop is a statement that contains instructions that continually repeats until a certain condition is reached.
- The three types of loops in Python programming are:
    - while loop
    - for loop

### 1.2.1. while Loop

- while Loop is used to execute a block of statements repeatedly until a given condition is satisfied.
- When the condition becomes false, the line immediately after the loop in the program is executed.
- while loop falls under the category of indefinite iteration. 
  - Indefinite iteration means that the number of times the loop is executed isn’t specified explicitly in advance.
- while Loop has no condition/counter/incriment.

**Example**

In [5]:
meter = 1
while(meter<=5):
    print(meter)
    meter+=1

1
2
3
4
5

**Example**

- Print First 10 even and odd number using while loop.

In [6]:
even = 0
odd = 1

count = 1
while count<=10:
    print(f"Even Number is: {even}")
    print(f"Odd Number is: {odd}")
    
    even = even+2
    odd = odd+2
    count = count+1

Even Number is: 0
Odd Number is: 1
Even Number is: 2
Odd Number is: 3
Even Number is: 4
Odd Number is: 5
Even Number is: 6
Odd Number is: 7
Even Number is: 8
Odd Number is: 9
Even Number is: 10
Odd Number is: 11
Even Number is: 12
Odd Number is: 13
Even Number is: 14
Odd Number is: 15
Even Number is: 16
Odd Number is: 17
Even Number is: 18
Odd Number is: 19

### 1.2.2. for Loop

- for Loop is used for sequentially accessing elements.
- for Loop falls under the category of definite iteration.
   - Definite iterations mean the number of repetitions is specified explicitly in advance.
- for Loop has no condition/counter/incriment.

**Example**

In [7]:
for bag in ('Milk','Bread','Butter'):
    print(bag)

Milk
Bread
Butter

**Example**

- Check weather a number is Prime or not ?

In [8]:
number = int(input("Enter number to be checked for Prime: "))

m = 0
for i in range(2,number):
    if number%i==0:
        m+=1
        
if m==0:
    print("The number is Prime.")
else:
    print("The number is not Prime.")

Enter number to be checked for Prime: 4563
The number is not Prime.

## 2. Python Comprehension

- We can create new sequences using a given python sequence which is called comprehension.
- It basically a way of writing a concise code block to generate a sequence.
- Which can be a list, dictionary, set or a generator by using another sequence.

### 2.1. List Comprehension

**Example**

- Create list of  "even" or "odd" for numbers in range of (1,11) using list comprehension.

In [9]:
["even" if i%2==0 else "odd" for i in range(1,11)]

['odd', 'even', 'odd', 'even', 'odd', 'even', 'odd', 'even', 'odd', 'even']

**Example**

- Create a list of first 10 even number using list comprehension.

In [10]:
[x for x in range(1,11) if x%2==0]

[2, 4, 6, 8, 10]

**Example**

- Using list comprehension, create a list which has square of value from 1 to 5 (both included) with the following string:
   - [Square of 1 is 1,  Square of 2 is 4,.....]

In [11]:
[(f"Square of {i} is {i*i}") for i in range(1,5+1)]

['Square of 1 is 1',
 'Square of 2 is 4',
 'Square of 3 is 9',
 'Square of 4 is 16',
 'Square of 5 is 25']

### 2.2. Dictionary Comprehension

**Example**

 - Create a dictionary of number as key and their square as vlue for first 10 numbers.

In [12]:
{i:i**2 for i in range(1,11)}

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}

**Example**

- For the give list of words create a dictionary of key as word and value as word length.
     - Happiness = ['Bliss','Paradise','Prosperity','Euphoria','Delight']

In [13]:
Happiness = ['Bliss','Paradise','Prosperity','Euphoria','Delight']

{word:len(word) for word in Happiness}

{'Bliss': 5, 'Paradise': 8, 'Prosperity': 10, 'Euphoria': 8, 'Delight': 7}

**Example**

- For given dictionary create another dictionary with key:item value:price(inr).
   - grocery_list = {'milk':2.5,'butter':3.5,'bread':1.8}

In [14]:
grocery_list = {'milk':2.5,'butter':3.5,'bread':1.8}

{k:v*75 for k,v in grocery_list.items()}

{'milk': 187.5, 'butter': 262.5, 'bread': 135.0}

## 3. Python Functions




**1. User Define Function**

**2. Lambda Function**

**3. Map Function**

**4. Filter Function**

**5. Reduce Function**

### 3.1. User Define Function

- A function is a block of code which only runs when it is called.
- You can pass data, known as parameters, into a function.
- A function can return data as a result.

#### Creating a Function

- In Python a function is defined using the def keyword.

**Example**

In [15]:
def my_function():
    print("Hello from a Function!")

#### Calling a Function

- To call a function, use the function name followed by parenthesis.

**Example**

In [16]:
def my_function():
    print("Hello from a Function!")

my_function()

Hello from a Function!

#### Arguments

- Information can be passed into functions as arguments.
- Arguments are specified after the function name, inside the parentheses. You can add as many arguments as you want, just separate them with a comma.
- The following example has a function with one argument (fname). When the function is called, we pass along a first name, which is used inside the function to print the full name

**Example**

In [17]:
def my_function(fname):
    print(fname + " Refsnes")

my_function("Emil")
my_function("Tobias")
my_function("Linus")

Emil Refsnes
Tobias Refsnes
Linus Refsnes

#### Number of Arguments

>By default, a function must be called with the correct number of arguments. Meaning that if your function expects 2 arguments, you have to call the function with 2 arguments, not more, and not less. If you try to call the function with other than 2 arguments, you will get an error.

**Example**

In [18]:
def my_function(fname, lname):
    print(fname + " " + lname)

my_function("Emil", "Refsnes")

Emil Refsnes

#### Arbitrary Arguments

- If you do not know how many arguments that will be passed into your function, add a * before the parameter name in the function definition.
- This way the function will receive a tuple of arguments, and can access the items accordingly.

**Example**

In [19]:
def my_function(*kids):
    print("The youngest child is " + kids[0])

my_function("Emil", "Tobias", "Linus")

The youngest child is Emil

#### Keyword Arguments

- You can also send arguments with the key = value syntax.
- This way the order of the arguments does not matter.

**Example**

In [20]:
def my_function(child3, child2, child1):
    print("The youngest child is " + child3)

my_function(child1 = "Emil", child2 = "Tobias", child3 = "Linus")

The youngest child is Linus

#### Arbitrary Keyword Arguments

- If you do not know how many keyword arguments that will be passed into your function, add two asterisk: ** before the parameter name in the function definition.
- This way the function will receive a dictionary of arguments, and can access the items accordingly:

**Example**

In [21]:
def my_function(**kid):
    print("His last name is " + kid["lname"])

my_function(fname = "Tobias", lname = "Refsnes")

His last name is Refsnes

#### Special Symbols Used for Passing Arguments

    *args (Non-Keyword Arguments)
    **kwargs (Keyword Arguments)
    
We use the “wildcard” or “*” notation like this – `*args` OR `**kwargs` – as our function’s argument when we have doubts about the number of  arguments we should pass in a function.

#### 1.  *args

The special syntax *args in function definitions in python is used to pass a variable number of arguments to a function. It is used to pass a non-key worded, variable-length argument list.

 >The syntax is to use the symbol * to take in a variable number of arguments; by convention, it is often used with the word args.<br>What *args allows you to do is take in more arguments than the number of formal arguments that you previously defined. With *args, any number of extra arguments can be tacked on to your current formal parameters (including zero extra arguments).<br>For example, we want to make a multiply function that takes any number of arguments and is able to multiply them all together. It can be done using *args.<br>Using the *, the variable that we associate with the * becomes an iterable meaning you can do things like iterate over it, run some higher-order functions such as map and filter, etc.

**Example**

In [22]:
def myFun(*args):
    
    for items in args:
        print(items)
        
favFruits = ["Apple","Mango","Banana","Graps","Bery"]

myFun(*favFruits)

Apple
Mango
Banana
Graps
Bery

**Note**:

In [23]:
def myFun(*args):
    
    for items in args:
        print(items)
        
favFruits = ["Apple","Mango","Banana","Graps","Bery"]

myFun(favFruits)

['Apple', 'Mango', 'Banana', 'Graps', 'Bery']

**Eample**

In [24]:
def myFun(formal_arg, *args):
    
    print(formal_arg)
    
    for items in args:
        print(items)
        
favFruits = ["Apple","Mango","Banana","Graps","Bery"]

a = "This is List of My Favourate Fruits: "

myFun(a, *favFruits)

This is List of My Favourate Fruits:
Apple
Mango
Banana
Graps
Bery

#### 2. **kwargs

The special syntax **kwargs in function definitions in python is used to pass a keyworded, variable-length argument list. We use the name kwargs with the double star. The reason is that the double star allows us to pass through keyword arguments (and any number of them).
>A keyword argument is where you provide a name to the variable as you pass it into the function.<br>One can think of the kwargs as being a dictionary that maps each keyword to the value that we pass alongside it. That is why when we iterate over the kwargs there doesn’t seem to be any order in which they were printed out.

**Example**

In [25]:
def myFun(**kwargs):
    
    for key, value in kwargs.items():
        print("%s - %s" % (key, value))
  
  
myFun(India ='New Delhi', USA = 'Washington', France = 'Paris')

India - New Delhi
USA - Washington
France - Paris

**Example**

In [26]:
def myFun(formal_arg, **kwargs):
    
    print(formal_arg)
    
    for key, value in kwargs.items():
        print("%s - %s" % (key, value))

a = "Countries and Capital \n" 
  
myFun(a, India ='New Delhi', USA = 'Washington', France = 'Paris')

Countries and Capital

India - New Delhi
USA - Washington
France - Paris

#### Using both *args and **kwargs to call a function

In [27]:
def myFun(formal_arg, *args, **kwargs):
    
    print(formal_arg)
    
    for item in args:
        print(item)
    
    for key, value in kwargs.items():
        print("%s - %s" % (key, value))
        
a = "List the following countries with their capital. \n"

b = ["India","USA","France \n"]

myFun(a,*b, India ='New Delhi', USA = 'Washington', France = 'Paris')

List the following countries with their capital.

India
USA
France

India - New Delhi
USA - Washington
France - Paris

#### Default Parameter Value

- The following example shows how to use a default parameter value.
- If we call the function without argument, it uses the default value.

**Example**

In [28]:
def my_function(country = "Norway."):
    print("I am from " + country)

my_function("Sweden.")
my_function()
my_function("Brazil.")

I am from Sweden.
I am from Norway.
I am from Brazil.

#### Passing a List as an Argument

- You can send any data types of argument to a function (string, number, list, dictionary etc.), and it will be treated as the same data type inside the function.
- E.g. if you send a List as an argument, it will still be a List when it reaches the function.

In [29]:
def my_function(food):
    
    for x in food:
        print(x)

fruits = ["Apple", "Banana", "Mango"]

my_function(fruits)

Apple
Banana
Mango

#### Return Values

- To let a function return a value, use the return statement.

**Example**

In [30]:
def my_function(x):
    return 5 * x

print(my_function(3))
print(my_function(5))
print(my_function(7))

15
25
35

**Q. Write a program to print all prime number between a given range.**

In [31]:
def primeNumber_list(a,b):
    
    l = []

    for i in range(a,b):
    
        for j in range (2,i):
        
            if i % j == 0:
                break          
        else:
            l.append(i)
            
    print("\nList of Prime Numbers in Range", a,"and", b,"is:\n",l)
    
    
x = int(input("Enter the lower limit of the range: "))
y = int(input("Enter the upper limit of the range: "))


primeNumber_list(x,y)

Enter the lower limit of the range: 45
Enter the upper limit of the range: 123

List of Prime Numbers in Range 45 and 123 is:
 [47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97, 101, 103, 107, 109, 113]

### 3.2. Lambda Function

- A lambda function is a small anonymous function.
- A lambda function can take any number of arguments, but can only have one expression.

- Syntax:

lambda arguments : expression

- The expression is executed and the result is returned.

**Example**

- Add 10 to argument a, and return the result.

In [32]:
x = lambda a : a + 10
print(x(5))

15

- Lambda functions can take any number of arguments.

**Example**

- Multiply argument a with argument b and return the result.

In [33]:
x = lambda a, b : a * b
print(x(5, 6))

30

**Example**

- Summarize argument a, b, and c and return the result.

In [34]:
x = lambda a, b, c : a + b + c
print(x(5, 6, 2))

13

#### Why Use Lambda Functions?

- The power of lambda is better shown when you use them as an anonymous function inside another function.
- Say you have a function definition that takes one argument, and that argument will be multiplied with an unknown number.

def myfunc(n):
    return lambda a : a * n

- Use that function definition to make a function that always doubles the number you send in.

**Example**

In [35]:
def myfunc(n):
    return lambda a : a * n

mydoubler = myfunc(2)

print(mydoubler(11))

22

- Or, use the same function definition to make a function that always triples the number you send in.

**Example**

In [36]:
def myfunc(n):
    return lambda a : a * n

mytripler = myfunc(3)

print(mytripler(11))

33

- Or, use the same function definition to make both functions, in the same program.

**Example**

In [37]:
def myfunc(n):
    return lambda a : a * n

mydoubler = myfunc(2)
mytripler = myfunc(3)

print(mydoubler(11)) 
print(mytripler(11))

22
33

**Use lambda functions when an anonymous function is required for a short period of time.**

### 3.3. Map Function

- The map( ) function returns a map object(which is an iterator) of the results after applying the given function to each item of a given iterable(list, tuple, etc.)
   - The function here can be a lambda function or a function object.
   - The iterable object can be a string, list, tuple, set or dictionary.

- Syntax:

map(Function,Ittirable Object)

**Example** 

- Rewrite countries name in upper case using map function.

In [38]:
countries = ["India","Pakistan","Bangladesh","Nepal"]
list(map(lambda x:x.upper(),countries))

['INDIA', 'PAKISTAN', 'BANGLADESH', 'NEPAL']

**Example** 

- Print square of number in between 1 to 5 using map function.

In [39]:
list_numbers = (1,2,3,4)
sample_map = map(lambda x: x**2, list_numbers)
print(list(sample_map))

[1, 4, 9, 16]

**Example**

- Add these two list using map and lambda function.
    - nos_1 = [1,2,3]
    - nos_2 = [4,5,6]

In [40]:
nos_1 = [1,2,3]
nos_2 = [4,5,6]

addition = lambda x,y: x+y

list(map(addition,nos_1,nos_2))

[5, 7, 9]

### 3.4. Filter Function

- The filter( ) function filters the given sequence with the help of a function that tests each element in the sequence to be true or not.
   -  The function object passed to the filter function should always return a boolean value.
   - The iterable object can be a string, list, tuple, set or dictionary.

- Syntax:

filter(booleanFunction, Ittirable Object)

**Example**

- Create a list of eeven number from the given list using filter function.
   - nos = [1,2,3,4,5,6,7,8]

In [41]:
nos = [1,2,3,4,5,6,7,8]
list(filter(lambda n : n%2 == 0 , nos))

[2, 4, 6, 8]

**Example**

- From the given list extract intigers using filter function.
    - values = [100,"hello",200,True,{2:8},288.43,False,[10,20]]

In [42]:
values = [100,"hello",200,True,{2:8},288.43,False,[10,20]]
list(filter(lambda item : type(item) == int , values))

[100, 200]

### 3.5. Reduce Function

- The reduce function breaks down the entire process into pair-wise operations and uses the result from each operation, with the successive element.
  - The function object passed to the reduce function decides what expression is passed to the iterable object.
  - The iterable object can be a string, list, tuple, set or dictionary.
  - Also, reduce function produces a single output.
- It helps us find some facts from data such as:
     - Finding MAX Value.
     - Finding MIN Value.
     - Finding SUM Value.
     - Finding PRODUCT Value.

- Syntax:

from functools import reduce
reduce(Function,Iterable Object)

**Example** 

- Use reduce function to find the sum of given values.
     - nos = [1,2,3,4,5,6]

In [43]:
nos = [1,2,3,4,5,6]

from functools import reduce

reduce(lambda x,y : x+y, nos)

21

# How Values assigned to X and Y ?

x   y
1   2
3   3
6   4
10  5
15  6
21

reduce returns X as the output at the end hence 21.

## 4. Python Methods

### 4.1. Enumerate

- The enumerate() method adds a counter to an iterable and returns it in a form of enumerating object. 
- This enumerated object can then be used directly for loops or converted into a list of tuples using the list() function.

- Syntax:

enumerate(iterable, start=0)

**Example**

In [44]:
l = ["Eat", "Sleep", "Repeat"]
s = "ABHAY"
  
# Creating Enumerate Bbjects

object1 = enumerate(l)
object2 = enumerate(s)
  
print ("Return Type:", type(object1))
print (list(enumerate(l)))
  
# Changing Start Index to 2 from 0

print (list(enumerate(s, 2)))

Return Type: <class 'enumerate'>
[(0, 'Eat'), (1, 'Sleep'), (2, 'Repeat')]
[(2, 'A'), (3, 'B'), (4, 'H'), (5, 'A'), (6, 'Y')]

**Example**

In [45]:
l = ["Eat", "Sleep", "Repeat"]
  
#Printing the Tuples in Object Directly

for item in enumerate(l):
    print (item)

#Changing Index and Printing Separately

for count, item in enumerate(l, 100):
    print (count, item)

#Getting Desired Output from Tuple

for count, item in enumerate(l):
    print(count)
    print(item)

(0, 'Eat')
(1, 'Sleep')
(2, 'Repeat')
100 Eat
101 Sleep
102 Repeat
0
Eat
1
Sleep
2
Repeat